---
import MainHead from '../components/MainHead.astro';
import Footer from '../components/Footer.astro';
import Nav from '../components/Nav.astro';
---

<html lang="en">
	<head>
		<MainHead title="About | Jeanine White" description="About Jeanine White Lorem Ipsum" />
		<style>
			.heroImg {
				max-height: 24rem;
				object-fit: cover;
				overflow: hidden;
			}

			.heroImg img {
				width: 100%;
			}

			.bio {
				font-size: var(--f-u1);
				line-height: 2;
				margin-top: 4em;
			}

			.wrapper.bio {
				max-width: 50em;
			}
		</style>
	</head>
	<body>
		<Nav />
		<div class="wrapper">
			<h1>About Dee</h1>
			<div class="heroImg">
				<img
					width="1400"
					height="350"
					src="https://images.unsplash.com/photo-1581977012607-4091712d36f9?auto=format&fit=crop&w=1400&h=350&q=75"
				/>
			</div>
			<div class="bio wrapper">
				<p>
					In my free time, I enjoy staying up to date on the latest trends and developments in the tech industry and exploring the world of food. When I'm not coding or indulging in delicious cuisine, you can usually find me tinkering with new tools and technologies or reading about the latest trends in tech.
				</p>
				<p>
					As a creative and driven individual with a passion for art, social justice, and technology, I am always looking for ways to use my skills and experiences to make a positive impact on the world. I studied photography at Pace University, where I also studied non-profit studies and queer studies, and my work has been showcased at the International Center of Photography. In addition to my background in art at the Fashion Institute of Technology, I have also developed skills in digital marketing and technical writing, and I am eager to use these skills to continue creating meaningful experiences for the broader public through the use of code and technology.
				</p>
				<p>
					I am excited to bring my skills and enthusiasm to your company and help drive its success. If you are looking for a motivated and socially conscious software engineer to join your team, I am open to work and would love to discuss how I can contribute to your organization.
				</p>
			</div>
		</div>
		<Footer />
	</body>
</html>
